<%- include('./partials/header.ejs') %>
        <main>
            <div class="container-sm" id="tutorialContainer">
                <h2 id="sectionHeader">Welcome!</h2>
                <p>We are an all-in-one online marketplace for card hobbyists. Whether you're a player, collector, buyer, seller, or any combination of those, we're here for you. We have different marketplaces on our site able to suit the needs of your niche. We know you'll be able to find what you're looking for, with a robust inventory provided by other users just like you, and an easy-to-use selling service.</p>
            </div>
            <hr>
            <div class="container-sm">
                <h2 id="sectionHeader">Marketplaces</h2>
                <div class="container-sm" id="marketplaceHomeContainer">
                    <a id="linkBtn" href="/items">
                        <div class="shadow-lg container-sm" id="sportMarket">
                            <img id="marketplaceImg" src="../public/images/bat.png" alt="batImg">
                            <br>
                            <p id="marketplaceText">Sports Cards</p>
                        </div>
                    </a>
                    <a id="linkBtn" href="/items">
                        <div class="shadow-lg container-sm" id="playingCardMarket">
                            <img id="marketplaceImg" src="../public/images/clubs.png" alt="clubsImg">
                            <br>
                            <p id="marketplaceText">Playing Cards</p>
                        </div> 
                    </a>
                    <a id="linkBtn" href="/items">
                        <div class="shadow-lg container-sm" id="magicMarket">
                            <img id="marketplaceImg" src="/public/images/clash.png" alt="clashImg">
                            <br>
                            <p id="marketplaceText">Trading Card Games</p>
                        </div>
                    </a>            
                </div>
                <br>
                <hr>
                <h2 id="sectionHeader">Articles</h2>
                <div class="container-sm" id="articleHomeContainer">
                    <div class="container-sm" id="magicArticle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et molestie sapien, mattis varius ex. In ut pellentesque quam. Aliquam posuere mi a metus dictum, eget tincidunt orci consequat. Suspendisse id molestie enim. Fusce interdum, elit nec blandit vulputate, lorem nulla varius lacus, ut tempus tortor erat eget lorem. Nam tempor rutrum ullamcorper. Nam lacus neque, venenatis vitae eleifend ut, consectetur in justo. Vestibulum id libero suscipit, pharetra turpis non, vestibulum erat. Sed gravida commodo leo eu feugiat. Aenean efficitur rutrum eleifend. Nam et lectus ligula. Mauris sagittis sollicitudin turpis, non posuere elit placerat eget. Nulla eget scelerisque erat. Nunc non pretium elit, non efficitur dolor.</div>
                    <div class="container-sm" id="sportArticle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et molestie sapien, mattis varius ex. In ut pellentesque quam. Aliquam posuere mi a metus dictum, eget tincidunt orci consequat. Suspendisse id molestie enim. Fusce interdum, elit nec blandit vulputate, lorem nulla varius lacus, ut tempus tortor erat eget lorem. Nam tempor rutrum ullamcorper. Nam lacus neque, venenatis vitae eleifend ut, consectetur in justo. Vestibulum id libero suscipit, pharetra turpis non, vestibulum erat. Sed gravida commodo leo eu feugiat. Aenean efficitur rutrum eleifend. Nam et lectus ligula. Mauris sagittis sollicitudin turpis, non posuere elit placerat eget. Nulla eget scelerisque erat. Nunc non pretium elit, non efficitur dolor.</div>
                    <div class="container-sm" id="playingArticle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et molestie sapien, mattis varius ex. In ut pellentesque quam. Aliquam posuere mi a metus dictum, eget tincidunt orci consequat. Suspendisse id molestie enim. Fusce interdum, elit nec blandit vulputate, lorem nulla varius lacus, ut tempus tortor erat eget lorem. Nam tempor rutrum ullamcorper. Nam lacus neque, venenatis vitae eleifend ut, consectetur in justo. Vestibulum id libero suscipit, pharetra turpis non, vestibulum erat. Sed gravida commodo leo eu feugiat. Aenean efficitur rutrum eleifend. Nam et lectus ligula. Mauris sagittis sollicitudin turpis, non posuere elit placerat eget. Nulla eget scelerisque erat. Nunc non pretium elit, non efficitur dolor.</div>
                </div>
            </div>
        </main>
<%- include('./partials/footer.ejs') %>