<%- include('../partials/header.ejs') %>
        <main>
            <div id="marketplaceHomeContainer">
                <a id="linkBtn" href="item.ejs">
                <div class="container-sm" id="itemContainer">
                    <div class="container-sm" id="item">
                        <img id="marketplaceImg" src="../public/images/mindgoblin.jpg" alt="mindGoblin">
                    </div>
                    <div id="itemDetails" class="container-sm">
                        <div id="itemNameCond">Mind Goblin [LP]</div>
                        <div id="itemCategory">TCG | Magical Meeting</div>
                        <div id="itemPrice">(17) $3.25+</div>
                    </div>
                </div>
                </a>

                <a id="linkBtn" href="item.ejs">
                <div class="container-sm" id="itemContainer">
                    <div class="container-sm" id="item">
                        <img id="marketplaceImg" src="../public/images/gisele.jpg" alt="gisele">
                    </div>
                    <div id="itemDetails" class="container-sm">
                        <div id="itemNameCond">Gisele, Heiress of Wind [NM]</div>
                        <div id="itemCategory">TCG | Magical Meeting</div>
                        <div id="itemPrice">(3) $1.50+</div>
                    </div>
                </div>
                </a>

                <a id="linkBtn" href="item.ejs">
                <div class="container-sm" id="itemContainer">
                    <div class="container-sm" id="item">
                        <img id="marketplaceImg" src="../public/images/bazookacannon.jpg" alt="bazookaCannon">
                    </div>
                    <div id="itemDetails" class="container-sm">
                        <div id="itemNameCond">Bazooka Cannon [LP]</div>
                        <div id="itemCategory">TCG | CardBattle</div>
                        <div id="itemPrice">(10) $11.25+</div>
                    </div>
                </div>
                </a>

                <a id="linkBtn" href="item.ejs">
                <div class="container-sm" id="itemContainer">
                    <div id="item">
                        <img id="marketplaceImg" src="../public/images/tarot.jpg" alt="tarot">
                    </div>
                    <div id="itemDetails" class="container-sm">
                        <div id="itemNameCond">Tarot Themed (54pcs)</div>
                        <div id="itemCategory">Playing Cards</div>
                        <div id="itemPrice">(2) $18.65+</div>
                    </div>
                </div>
                </a>

                <a id="linkBtn" href="item.ejs">
                <div class="container-sm" id="itemContainer">
                    <div id="item">
                        <img id="marketplaceImg" src="../public/images/jokers.jpg" alt="jokers">
                    </div>
                    <div id="itemDetails" class="container-sm">
                        <div id="itemNameCond">Replacement Jokers (2)</div>
                        <div id="itemCategory">Playing Cards</div>
                        <div id="itemPrice">(62) $0.17+</div>
                    </div>
                </div>
                </a>

                <a id="linkBtn" href="item.ejs">
                <div class="container-sm" id="itemContainer">
                    <div id="item">
                        <img id="marketplaceImg" src="../public/images/matthewtkachuk.jpg" alt="nhl">
                    </div>
                    <div id="itemDetails" class="container-sm">
                        <div id="itemNameCond">Matthew Tkachuk [PSA 9.5]</div>
                        <div id="itemCategory">Sports | NHL</div>
                        <div id="itemPrice">(1) $550.00</div>
                    </div>
                </div>
                </a>
            </div>
        </main>
<%- include('../partials/footer.ejs') %>