<%- include('../partials/header.ejs') %>
        <main>
            <div class="newItemContainer">
                <div class="container-sm" id="newItemInputContainer">
                    <div class="container-sm" id="formContainer">
                        <label id="parameter" for="itemNameInput">Name -- </label>
                        <input type="text" id="itemNameInput" name="itemNameInput" required><br>
                    </div>
                    <br>
                    <div class="container-sm" id="formContainer">
                        <label id="parameter" for="itemPriceInput">Price -- </label>
                        <input type="number" id="itemPriceInput" name="itemPriceInput" required><br>
                    </div>
                    <br>
                    <div class="container-sm" id="formContainer">
                        <label id="parameter" for="itemConditionInput">Condition -- </label>
                        <input type="text" id="itemConditionInput" name="itemConditionInput" required><br>
                    </div>
                    <br>
                    <div class="container-sm" id="formContainer">
                        <label id="parameter" for="itemCategoryInput">Category -- </label>
                        <input type="text" id="itemCategoryInput" name="itemCategoryInput" required><br>
                    </div>
                    <br>
                    <div class="container-sm" id="formContainer">
                        <label id="parameter" for="itemSubcategoryInput">Subcategory -- </label>
                        <input type="text" id="itemSubcategoryInput" name="itemSubcategoryInput"><br>
                    </div>
                </div>
            </div>
            <br>
            <div class="termsAgreeSubmit">
                <div class="container-sm" id="termsAndAgreementsContainer">
                    <input type="checkbox" id="termsAndAgreements" name="termsAndAgreements"><br>
                    <label for="termsAndAgreements"> - I have read the <a href="#">terms and agreements</a></label>
                </div>
                <button id="newItemSubmit" type="submit">Submit</button>
            </div>
        </main>
<%- include('../partials/footer.ejs') %>