/*
    Custom Fonts:
        - Montserrat, sans serif

    Color Palette:
        - https://coolors.co/a8763e-f7f3e3-ecf0f1-6f1a07-2b2118
*/

body {
    font-family: 'Montserrat', sans-serif;
    background: #2b2118;
    align-items: center;
    justify-content: center;
}

header {
    background: #f7f3e3;
}

main {
    padding: 10%;
}

footer {
    background: #f7f3e3;
}

.faqCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardContainer {
    position: relative;
    height: 350px;
    width: 250px;
}

.card {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.cardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    padding: 10%;
}

.cardBack {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    padding: 10%;
}